{% load i18n %}
{% load services %}
{% load forms %}
{% get_first_step_form as form %}
<div class="postbox__comment-form-box mr-70">
    <form id="first-step-form"
          action="{% url 'handle_first_step_form' %}"
          method="POST">
        <h3 class="postbox__title pb-0 mb-10">{% translate 'First Step form for IVF' %}</h3>
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags == 'error' %}alert-danger {% else %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% if form.errors %}
            {% for error in form.errors %}<div class="alert alert-danger">{{ error }}</div>{% endfor %}
        {% endif %}
        <b class="text-danger">
            {% translate 'FILL OUT THE FORM TO START YOUR IVF JOURNEY AND OUR EXPERTS WILL CONTACT YOU AS SOON AS POSSIBLE' %}
        </b>
        <div class="postbox__comment-form pt-30">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-12 mb-20">
                    <div class="rr-contact-form-input-box">
                        <input name="full_name"
                               type="text"
                               placeholder="{% translate 'Name/Surname' %}">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-12 mb-20">
                    <div class="rr-contact-form-input-box">
                        <input name="email" type="email" placeholder="{% translate 'Email' %}">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-12 mb-20">
                    <div class="rr-contact-form-input-box">
                        <input name="phone"
                               type="text"
                               placeholder="{% translate 'Your Phone' %}"
                               id="contact-phone">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-12 mb-20">
                    <div class="rr-form-input-box rr-contact-form-select-box pb-30 rr-form-input-main">
                        <select name="service" style="display: none;">
                            <option>{% translate 'Choose Service' %}</option>
                            {% get_services as services %}
                            {% for service in services %}<option value="{{ service.slug }}">{{ service.title }}</option>{% endfor %}
                            <option value="other">{% trans "Other" %}</option>
                        </select>
                        <div class="nice-select" tabindex="0">
                            <span class="current">{% translate 'Choose Service' %}</span>
                            <ul class="list">
                                <li data-value="Your Inquiry about" class="option selected focus">{% translate 'Choose Service' %}</li>
                                {% for service in services %}<li data-value="{{ service.slug }}" class="option">{{ service.title }}</li>{% endfor %}
                                <li data-value="other" class="option">{% trans 'Other' %}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-20">
                    <div class="rr-contact-form-input-box">
                        <textarea name="message"
                                  placeholder="{% translate 'Please write your age, weight, chronic disease (if any) and your story of choosing IVF in this field and share with us.' %}"></textarea>
                    </div>
                </div>
            </div>
            
            {{ form.captcha }}
            {% include "components/recaptcha/recaptcha-warning.html" %}

            <button type="submit" class="rr-btn-blog">
                <span>
                    {% translate 'START YOUR JOURNEY' %}
                    <i class="fa-sharp fa-solid fa-plus"></i>
                </span>
            </button>
        </div>
    </form>
</div>
