.rr-header-main-menu > nav > ul > li {
  margin: 0 10px;
}

.rr-header-main-menu > nav > ul > li.has-dropdown::after {
  display: none;
}

.breadcrumb__content {
  margin-top: 0;
}

.breadcrumb__text p {
  color: white;
}

.rr-services-details-list ul li a.active {
  color: var(--rr-theme-1);
  border: 1px solid var(--rr-theme-1);
}

.rr-services-details-list ul li a.active i {
  background-color: var(--rr-theme-1);
  color: white;
}

.rr-project-tab-wrapper ul li a {
  color: #3a3a3a;
  font-size: 16px;
  border-radius: 0;
  font-weight: 600;
  padding: 0px 12px;
  margin: 5px;
}

.rr-project-tab-wrapper ul li a.active,
.rr-project-tab-wrapper ul li a .nav-pills .show > .nav-link {
  background-color: var(--rr-theme-1) !important;
  border-radius: 0;
}

.rr-service-number {
  top: 30px;
  left: 43px;
}

.rr-service-icon {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.rr-service-content p {
  margin-top: 40px;
}

.newsletter-icon-item {
  color: white;
  font-size: 50px;
}

.rr-project-thumb:hover::before {
  visibility: hidden;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23A81912'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23A81912'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #203240;
}

.rr-custom-accordion .accordion-body {
  max-width: none;
}

.accordion-pricing .accordion-button:not(.collapsed) {
  background-color: #35dc484a;
  color: #198754;
  border: 1px solid #198754;
}

.recaptcha-warning {
  text-align: left;
  color: #737d85;
}

.recaptcha-warning a {
  color: #1a73e8;
}
.grecaptcha-badge {
  visibility: hidden;
}
