{% load i18n %}
{% load static %}
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 wow rrfadeUp" data-wow-duration=".9s" data-wow-delay=".3s">
    <div class="rr-service-1-item p-relative fix mb-15">
        <a href="{{ service.get_absolute_url }}">
            {% if service.image %}
            <div class="rr-service-1-thumb p-relative z-index-2">
                <img class="w-100" src="{{ service.image.url }}" alt="img">
                <div class="rr-service-1-icon-main p-relative">
                    <div class="rr-service-1-icon">
                        <img class="icon" src="{% static 'img/icons/medicine.png' %}" alt="img">
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="rr-service-1-content">
                <h3 class="rr-service-1-title">
                    {{ service.title }}
                </h3>
                {{ service.description|safe|default_if_none:"" }}
                <div class="rr-service-1-list">
                    <ul class="d-flex align-items-center">
                        <li>
                            <i class="fa-solid fa-check"></i>
                            <a href="{{ service.category.get_absolute_url }}">
                                {{ service.category.title }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </a>
    </div>
</div>